# Dependencies
node_modules/

# Databases & Temp files
*.sqlite
*.db
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Developer & Agent scripts (Excluding from GitHub)
.agent-rules/
verify.js
init-env.sh
